# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import roc_auc_score, roc_curve, plot_roc_curve
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as ImPipeline


%matplotlib inline
import seaborn as sns
import folium

In [2]:
#importing datasets
df = pd.read_csv('../Traffic_Crashes_-_Crashes.csv')
df_people = pd.read_csv('../Traffic_Crashes_-_People.csv')
df_vehicles = pd.read_csv('../Traffic_Crashes_-_Vehicles.csv')
df.head()

/Users/jerry_vasquez/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/jerry_vasquez/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,4fd0a3e0897b3335b94cd8d5b2d2b350eb691add56c62d...,JC343143,NaN,07/10/2019 05:56:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,3.0,0.0,17,4,7,41.919664,-87.773288,POINT (-87.773287883007 41.919663832993)
1,009e9e67203442370272e1a13d6ee51a4155dac65e583d...,JA329216,NaN,06/30/2017 04:00:00 PM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,3.0,0.0,16,6,6,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
2,ee9283eff3a55ac50ee58f3d9528ce1d689b1c4180b4c4...,JD292400,NaN,07/10/2020 10:25:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,3.0,0.0,10,6,7,41.773456,-87.585022,POINT (-87.585022352022 41.773455972008)
3,f8960f698e870ebdc60b521b2a141a5395556bc3704191...,JD293602,NaN,07/11/2020 01:00:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,0.0,0.0,3.0,0.0,1,7,7,41.802119,-87.622115,POINT (-87.622114914961 41.802118543011)
4,8eaa2678d1a127804ee9b8c35ddf7d63d913c14eda61d6...,JD290451,NaN,07/08/2020 02:00:00 PM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,14,4,7,NaN,NaN,NaN

In [3]:
df_vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,JD124535,01/22/2020 06:25:00 AM,1,DRIVER,NaN,796949.0,NaN,INFINITI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,04/13/2020 10:50:00 PM,2,DRIVER,NaN,827212.0,NaN,BUICK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567797 entries, 0 to 567796
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                567797 non-null  object
 1   RD_NO                          563961 non-null  object
 2   CRASH_DATE_EST_I               42926 non-null   object
 3   CRASH_DATE                     567797 non-null  object
 4   POSTED_SPEED_LIMIT             567797 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         567797 non-null  object
 6   DEVICE_CONDITION               567797 non-null  object
 7   WEATHER_CONDITION              567797 non-null  object
 8   LIGHTING_CONDITION             567797 non-null  object
 9   FIRST_CRASH_TYPE               567797 non-null  object
 10  TRAFFICWAY_TYPE                567797 non-null  object
 11  LANE_CNT                       198975 non-null  float64
 12  ALIGNMENT                      567797 non-null  object
 13  ROADWAY_SURFACE_COND           567797 non-null  object
 14  ROAD_DEFECT                    567797 non-null  object
 15  REPORT_TYPE                    553436 non-null  object
 16  CRASH_TYPE                     567797 non-null  object
 17  INTERSECTION_RELATED_I         129167 non-null  object
 18  NOT_RIGHT_OF_WAY_I             26754 non-null   object
 19  HIT_AND_RUN_I                  172106 non-null  object
 20  DAMAGE                         567797 non-null  object
 21  DATE_POLICE_NOTIFIED           567797 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        567797 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         567797 non-null  object
 24  STREET_NO                      567797 non-null  int64
 25  STREET_DIRECTION               567793 non-null  object
 26  STREET_NAME                    567796 non-null  object
 27  BEAT_OF_OCCURRENCE             567792 non-null  float64
 28  PHOTOS_TAKEN_I                 7008 non-null    object
 29  STATEMENTS_TAKEN_I             11462 non-null   object
 30  DOORING_I                      1825 non-null    object
 31  WORK_ZONE_I                    3536 non-null    object
 32  WORK_ZONE_TYPE                 2800 non-null    object
 33  WORKERS_PRESENT_I              881 non-null     object
 34  NUM_UNITS                      567797 non-null  int64
 35  MOST_SEVERE_INJURY             566622 non-null  object
 36  INJURIES_TOTAL                 566633 non-null  float64
 37  INJURIES_FATAL                 566633 non-null  float64
 38  INJURIES_INCAPACITATING        566633 non-null  float64
 39  INJURIES_NON_INCAPACITATING    566633 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  566633 non-null  float64
 41  INJURIES_NO_INDICATION         566633 non-null  float64
 42  INJURIES_UNKNOWN               566633 non-null  float64
 43  CRASH_HOUR                     567797 non-null  int64
 44  CRASH_DAY_OF_WEEK              567797 non-null  int64
 45  CRASH_MONTH                    567797 non-null  int64
 46  LATITUDE                       564487 non-null  float64
 47  LONGITUDE                      564487 non-null  float64
 48  LOCATION                       564487 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 212.3+ MB

In [5]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251211 entries, 0 to 1251210
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1251211 non-null  object
 1   PERSON_TYPE            1251211 non-null  object
 2   CRASH_RECORD_ID        1251211 non-null  object
 3   RD_NO                  1242411 non-null  object
 4   VEHICLE_ID             1226460 non-null  float64
 5   CRASH_DATE             1251211 non-null  object
 6   SEAT_NO                255463 non-null   float64
 7   CITY                   918813 non-null   object
 8   STATE                  929935 non-null   object
 9   ZIPCODE                838905 non-null   object
 10  SEX                    1232275 non-null  object
 11  AGE                    890752 non-null   float64
 12  DRIVERS_LICENSE_STATE  737397 non-null   object
 13  DRIVERS_LICENSE_CLASS  633054 non-null   object
 14  SAFETY_EQUIPMENT       1247568 non-null  object
 15  AIRBAG_DEPLOYED        1227480 non-null  object
 16  EJECTION               1235947 non-null  object
 17  INJURY_CLASSIFICATION  1250611 non-null  object
 18  HOSPITAL               223881 non-null   object
 19  EMS_AGENCY             141162 non-null   object
 20  EMS_RUN_NO             23091 non-null    object
 21  DRIVER_ACTION          993389 non-null   object
 22  DRIVER_VISION          993033 non-null   object
 23  PHYSICAL_CONDITION     994087 non-null   object
 24  PEDPEDAL_ACTION        23342 non-null    object
 25  PEDPEDAL_VISIBILITY    23291 non-null    object
 26  PEDPEDAL_LOCATION      23340 non-null    object
 27  BAC_RESULT             994476 non-null   object
 28  BAC_RESULT VALUE       1568 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 286.4+ MB

In [6]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162795 entries, 0 to 1162794
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1162795 non-null  int64
 1   CRASH_RECORD_ID           1162795 non-null  object
 2   RD_NO                     1154843 non-null  object
 3   CRASH_DATE                1162795 non-null  object
 4   UNIT_NO                   1162795 non-null  int64
 5   UNIT_TYPE                 1161127 non-null  object
 6   NUM_PASSENGERS            173909 non-null   float64
 7   VEHICLE_ID                1136152 non-null  float64
 8   CMRC_VEH_I                21466 non-null    object
 9   MAKE                      1136147 non-null  object
 10  MODEL                     1136003 non-null  object
 11  LIC_PLATE_STATE           1035993 non-null  object
 12  VEHICLE_YEAR              950868 non-null   float64
 13  VEHICLE_DEFECT            1136152 non-null  object
 14  VEHICLE_TYPE              1136152 non-null  object
 15  VEHICLE_USE               1136152 non-null  object
 16  TRAVEL_DIRECTION          1136152 non-null  object
 17  MANEUVER                  1136152 non-null  object
 18  TOWED_I                   137769 non-null   object
 19  FIRE_I                    898 non-null      object
 20  OCCUPANT_CNT              1136152 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2393 non-null     object
 22  TOWED_BY                  101673 non-null   object
 23  TOWED_TO                  62894 non-null    object
 24  AREA_00_I                 43170 non-null    object
 25  AREA_01_I                 303956 non-null   object
 26  AREA_02_I                 192701 non-null   object
 27  AREA_03_I                 110267 non-null   object
 28  AREA_04_I                 113663 non-null   object
 29  AREA_05_I                 174291 non-null   object
 30  AREA_06_I                 177291 non-null   object
 31  AREA_07_I                 156048 non-null   object
 32  AREA_08_I                 184820 non-null   object
 33  AREA_09_I                 58895 non-null    object
 34  AREA_10_I                 84637 non-null    object
 35  AREA_11_I                 166742 non-null   object
 36  AREA_12_I                 164163 non-null   object
 37  AREA_99_I                 125034 non-null   object
 38  FIRST_CONTACT_POINT       1127103 non-null  object
 39  CMV_ID                    12148 non-null    float64
 40  USDOT_NO                  7044 non-null     object
 41  CCMC_NO                   1546 non-null     object
 42  ILCC_NO                   1112 non-null     object
 43  COMMERCIAL_SRC            8510 non-null     object
 44  GVWR                      7022 non-null     object
 45  CARRIER_NAME              11635 non-null    object
 46  CARRIER_STATE             10980 non-null    object
 47  CARRIER_CITY              10783 non-null    object
 48  HAZMAT_PLACARDS_I         244 non-null      object
 49  HAZMAT_NAME               48 non-null       object
 50  UN_NO                     446 non-null      object
 51  HAZMAT_PRESENT_I          8976 non-null     object
 52  HAZMAT_REPORT_I           8693 non-null     object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              8746 non-null     object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  8833 non-null     object
 57  MCS_VIO_CAUSE_CRASH_I     8683 non-null     object
 58  IDOT_PERMIT_NO            717 non-null      object
 59  WIDE_LOAD_I               106 non-null      object
 60  TRAILER1_WIDTH            2373 non-null     object
 61  TRAILER2_WIDTH            275 non-null      object
 62  TRAILER1_LENGTH           1967 non-null     float64
 63  TRAILER2_LENGTH           53 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2368 non-null     float64
 65  AXLE_CNT                  3437 non-null     float64
 66  VEHICLE_CONFIG            10123 non-null    object
 67  CARGO_BODY_TYPE           9698 non-null     object
 68  LOAD_TYPE                 9284 non-null     object
 69  HAZMAT_OUT_OF_SERVICE_I   8425 non-null     object
 70  MCS_OUT_OF_SERVICE_I      8663 non-null     object
 71  HAZMAT_CLASS              836 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 638.7+ MB

In [7]:
df.shape

(567797, 49)

# Data Preparation

In [8]:
#Merging Datasets on the Crash_Record_ID Column
df_merge = pd.merge(df, df_vehicles, on='CRASH_RECORD_ID').reset_index()
df_merge_2 = pd.merge(df_merge, df_people, on='CRASH_RECORD_ID').reset_index()
#dropping dupllicates(basically only having one instance of the crashID on there)
df_dropped= df_merge_2.drop_duplicates(subset=['CRASH_RECORD_ID'], keep='first')
#Taking only necessary columns
columns = ['CRASH_RECORD_ID', 'RD_NO_x', 'CRASH_DATE_x', 'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION', 'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'CRASH_TYPE', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO', 'STREET_DIRECTION', 'STREET_NAME',  'DOORING_I', 'WORK_ZONE_I', 'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS', 'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'RD_NO_y', 'UNIT_NO', 'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID_x', 'CMRC_VEH_I', 'MAKE', 'MODEL', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE', 'TRAVEL_DIRECTION', 'MANEUVER', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'FIRST_CONTACT_POINT', 'PERSON_TYPE', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',  'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'DRIVER_VISION','PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY', 'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE', 'CELL_PHONE_USE']
df_comb = df_dropped[columns]

In [9]:
#Taking the Year from the date column
df_comb['date'] = pd.to_datetime(df_comb['CRASH_DATE_x'])
df_comb['Crash_year'] = df_comb['date'].apply(lambda date: date.year)
#only accidents with the driver
df_driver = df_comb[df_comb['PERSON_TYPE']=='DRIVER']
#necessary columns
new_columns = ['CRASH_RECORD_ID', 'CRASH_DATE_x', 'POSTED_SPEED_LIMIT',
       'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'CRASH_TYPE',
       'DAMAGE', 'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE','NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT','CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'LATITUDE', 'LONGITUDE', 'MAKE', 'MODEL',
       'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'MANEUVER', 'OCCUPANT_CNT', 
       'FIRST_CONTACT_POINT', 'PERSON_TYPE','SEX',
       'AGE', 'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION','DRIVER_VISION',
       'PHYSICAL_CONDITION', 'Crash_year']

<ipython-input-9-6efbe8c7bb70>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comb['date'] = pd.to_datetime(df_comb['CRASH_DATE_x'])
<ipython-input-9-6efbe8c7bb70>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comb['Crash_year'] = df_comb['date'].apply(lambda date: date.year)

In [10]:
#going to drop columns with lots of missing values
pd.isnull(df_driver).sum().sort_values(ascending=False)

PEDPEDAL_LOCATION              544771
PEDPEDAL_VISIBILITY            544771
PEDPEDAL_ACTION                544771
CELL_PHONE_USE                 543952
WORKERS_PRESENT_I              543936
                                ...
INJURIES_NON_INCAPACITATING         0
INJURIES_INCAPACITATING             0
INJURIES_FATAL                      0
INJURIES_TOTAL                      0
CRASH_RECORD_ID                     0
Length: 78, dtype: int64

In [11]:
#Dataframe with the new columns
df_driver = df_driver[new_columns]
#check for nulls
pd.isnull(df_driver).sum().sort_values(ascending=False)

AGE                              216583
VEHICLE_YEAR                     143076
FIRST_CONTACT_POINT                7332
LONGITUDE                          3197
LATITUDE                           3197
MODEL                              2744
MAKE                               2678
OCCUPANT_CNT                       2675
MANEUVER                           2675
VEHICLE_TYPE                       2675
VEHICLE_DEFECT                     2675
SEX                                  89
CRASH_TYPE                            0
ROAD_DEFECT                           0
ROADWAY_SURFACE_COND                  0
DAMAGE                                0
ALIGNMENT                             0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
Crash_year                            0
LIGHTING_CONDITION                    0
SEC_CONTRIBUTORY_CAUSE                0
WEATHER_CONDITION                     0
DEVICE_CONDITION                      0
TRAFFIC_CONTROL_DEVICE                0
POSTED_SPEED_LIMIT                    0
CRASH_DATE_x                          0
PRIM_CONTRIBUTORY_CAUSE               0
INJURIES_REPORTED_NOT_EVIDENT         0
NUM_UNITS                             0
MOST_SEVERE_INJURY                    0
INJURIES_TOTAL                        0
INJURIES_FATAL                        0
INJURIES_INCAPACITATING               0
INJURIES_NON_INCAPACITATING           0
PHYSICAL_CONDITION                    0
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
PERSON_TYPE                           0
AIRBAG_DEPLOYED                       0
EJECTION                              0
INJURY_CLASSIFICATION                 0
DRIVER_VISION                         0
CRASH_RECORD_ID                       0
dtype: int64

In [12]:
#dropping missing values
df_driver.dropna(axis=0, subset=['LATITUDE'], inplace =True)
df_driver.dropna(axis=0, subset=['LONGITUDE'], inplace =True)
df_driver.dropna(axis=0, subset=['MODEL'], inplace =True)
df_driver.dropna(axis=0, subset=['MAKE'], inplace =True)
df_driver.dropna(axis=0, subset=['FIRST_CONTACT_POINT'], inplace =True)

In [13]:
pd.isnull(df_driver).sum().sort_values(ascending=False).iloc[:5]

AGE                     213764
VEHICLE_YEAR            139129
SEX                         89
Crash_year                   0
ROADWAY_SURFACE_COND         0
dtype: int64

In [14]:
df_driver.INJURIES_FATAL.value_counts()

0.0    533745
1.0       460
2.0        27
3.0         4
4.0         1
Name: INJURIES_FATAL, dtype: int64

In [15]:
df_driver.AGE.value_counts()

25.0     10240
26.0     10015
24.0      9827
27.0      9809
28.0      9554
         ...
104.0        2
107.0        1
109.0        1
110.0        1
108.0        1
Name: AGE, Length: 108, dtype: int64

In [16]:
df_driver.SEX.value_counts()

M    280128
F    160642
X     93378
Name: SEX, dtype: int64

In [17]:
df_driver.VEHICLE_YEAR.value_counts()

2015.0    27361
2016.0    25192
2014.0    24892
2017.0    23456
2013.0    23128
          ...
2997.0        1
2918.0        1
2818.0        1
9418.0        1
2049.0        1
Name: VEHICLE_YEAR, Length: 150, dtype: int64

In [18]:
df_driver.VEHICLE_YEAR.describe()

count    395108.000000
mean       2015.420855
std         211.108701
min        1900.000000
25%        2005.000000
50%        2011.000000
75%        2015.000000
max        9999.000000
Name: VEHICLE_YEAR, dtype: float64

In [19]:
# Handling nulls for AGE, SEX, and VEHICLE_YEAR
df_driver = df_driver[(df_driver.VEHICLE_YEAR>=1970) & (df_driver.VEHICLE_YEAR <=2021)]
df_driver.AGE.replace({np.NAN: df_driver.AGE.median()},inplace=True)
df_driver.SEX.replace({np.NAN : 'X'},inplace=True)
# Reassigning values for INJURIES FATAL
df_driver.INJURIES_FATAL.replace({0.0:0, 1.0:1, 2.0:1, 3.0:1, 4.0:1}, inplace=True)
df_driver.shape

(394225, 45)

In [20]:
df_driver.isna().sum()

CRASH_RECORD_ID                  0
CRASH_DATE_x                     0
POSTED_SPEED_LIMIT               0
TRAFFIC_CONTROL_DEVICE           0
DEVICE_CONDITION                 0
WEATHER_CONDITION                0
LIGHTING_CONDITION               0
FIRST_CRASH_TYPE                 0
TRAFFICWAY_TYPE                  0
ALIGNMENT                        0
ROADWAY_SURFACE_COND             0
ROAD_DEFECT                      0
CRASH_TYPE                       0
DAMAGE                           0
PRIM_CONTRIBUTORY_CAUSE          0
SEC_CONTRIBUTORY_CAUSE           0
NUM_UNITS                        0
MOST_SEVERE_INJURY               0
INJURIES_TOTAL                   0
INJURIES_FATAL                   0
INJURIES_INCAPACITATING          0
INJURIES_NON_INCAPACITATING      0
INJURIES_REPORTED_NOT_EVIDENT    0
CRASH_HOUR                       0
CRASH_DAY_OF_WEEK                0
CRASH_MONTH                      0
LATITUDE                         0
LONGITUDE                        0
MAKE                             0
MODEL                            0
VEHICLE_YEAR                     0
VEHICLE_DEFECT                   0
VEHICLE_TYPE                     0
MANEUVER                         0
OCCUPANT_CNT                     0
FIRST_CONTACT_POINT              0
PERSON_TYPE                      0
SEX                              0
AGE                              0
AIRBAG_DEPLOYED                  0
EJECTION                         0
INJURY_CLASSIFICATION            0
DRIVER_VISION                    0
PHYSICAL_CONDITION               0
Crash_year                       0
dtype: int64

In [21]:
# df_driver.hist(figsize=(20,20), bins='auto');

In [22]:
# dropping columns we do not need
columns_to_drop = ['CRASH_RECORD_ID','CRASH_DATE_x','INJURIES_TOTAL','INJURIES_INCAPACITATING',
                   'INJURIES_NON_INCAPACITATING','INJURIES_REPORTED_NOT_EVIDENT','MAKE','MOST_SEVERE_INJURY',
                   'MODEL','VEHICLE_YEAR','OCCUPANT_CNT','PERSON_TYPE',
                   'INJURY_CLASSIFICATION','CRASH_TYPE','LONGITUDE','LATITUDE','Crash_year']

df_driver = df_driver.drop(columns_to_drop,axis=1)

In [23]:
df_driver.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394225 entries, 0 to 2652377
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   POSTED_SPEED_LIMIT       394225 non-null  int64
 1   TRAFFIC_CONTROL_DEVICE   394225 non-null  object
 2   DEVICE_CONDITION         394225 non-null  object
 3   WEATHER_CONDITION        394225 non-null  object
 4   LIGHTING_CONDITION       394225 non-null  object
 5   FIRST_CRASH_TYPE         394225 non-null  object
 6   TRAFFICWAY_TYPE          394225 non-null  object
 7   ALIGNMENT                394225 non-null  object
 8   ROADWAY_SURFACE_COND     394225 non-null  object
 9   ROAD_DEFECT              394225 non-null  object
 10  DAMAGE                   394225 non-null  object
 11  PRIM_CONTRIBUTORY_CAUSE  394225 non-null  object
 12  SEC_CONTRIBUTORY_CAUSE   394225 non-null  object
 13  NUM_UNITS                394225 non-null  int64
 14  INJURIES_FATAL           394225 non-null  float64
 15  CRASH_HOUR               394225 non-null  int64
 16  CRASH_DAY_OF_WEEK        394225 non-null  int64
 17  CRASH_MONTH              394225 non-null  int64
 18  VEHICLE_DEFECT           394225 non-null  object
 19  VEHICLE_TYPE             394225 non-null  object
 20  MANEUVER                 394225 non-null  object
 21  FIRST_CONTACT_POINT      394225 non-null  object
 22  SEX                      394225 non-null  object
 23  AGE                      394225 non-null  float64
 24  AIRBAG_DEPLOYED          394225 non-null  object
 25  EJECTION                 394225 non-null  object
 26  DRIVER_VISION            394225 non-null  object
 27  PHYSICAL_CONDITION       394225 non-null  object
dtypes: float64(2), int64(5), object(21)
memory usage: 87.2+ MB

In [24]:
df_driver.describe()

,POSTED_SPEED_LIMIT,NUM_UNITS,INJURIES_FATAL,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,AGE
count,394225.000000,394225.000000,394225.000000,394225.000000,394225.000000,394225.000000,394225.000000
mean,28.537168,2.031928,0.001081,13.355028,4.145140,6.765497,38.447011
std,6.242392,0.466482,0.032855,5.364024,1.961999,3.387799,14.434861
min,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,30.000000,2.000000,0.000000,10.000000,2.000000,4.000000,29.000000
50%,30.000000,2.000000,0.000000,14.000000,4.000000,7.000000,36.000000
75%,30.000000,2.000000,0.000000,17.000000,6.000000,10.000000,46.000000
max,99.000000,18.000000,1.000000,23.000000,7.000000,12.000000,110.000000

In [25]:
df_driver.shape

(394225, 28)

In [26]:
df_driver.PRIM_CONTRIBUTORY_CAUSE.value_counts()

UNABLE TO DETERMINE                                                                 127332
FAILING TO YIELD RIGHT-OF-WAY                                                        49379
FOLLOWING TOO CLOSELY                                                                46437
FAILING TO REDUCE SPEED TO AVOID CRASH                                               19150
IMPROPER OVERTAKING/PASSING                                                          18897
IMPROPER BACKING                                                                     18580
NOT APPLICABLE                                                                       17298
IMPROPER LANE USAGE                                                                  15821
IMPROPER TURNING/NO SIGNAL                                                           14765
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  13334
DISREGARDING TRAFFIC SIGNALS                                                          7797
WEATHER                                                                               7438
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER      4541
DISREGARDING STOP SIGN                                                                4473
DISTRACTION - FROM INSIDE VEHICLE                                                     3637
EQUIPMENT - VEHICLE CONDITION                                                         3081
PHYSICAL CONDITION OF DRIVER                                                          2999
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                  2786
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                    2729
DISTRACTION - FROM OUTSIDE VEHICLE                                                    2166
DRIVING ON WRONG SIDE/WRONG WAY                                                       1834
EXCEEDING AUTHORIZED SPEED LIMIT                                                      1365
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   1333
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                              1168
ROAD CONSTRUCTION/MAINTENANCE                                                         1036
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                      881
DISREGARDING OTHER TRAFFIC SIGNS                                                       839
CELL PHONE USE OTHER THAN TEXTING                                                      653
DISREGARDING ROAD MARKINGS                                                             497
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                        455
ANIMAL                                                                                 384
TURNING RIGHT ON RED                                                                   301
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            237
TEXTING                                                                                203
DISREGARDING YIELD SIGN                                                                143
RELATED TO BUS STOP                                                                    141
PASSING STOPPED SCHOOL BUS                                                              47
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                  30
OBSTRUCTED CROSSWALKS                                                                   30
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                                8
Name: PRIM_CONTRIBUTORY_CAUSE, dtype: int64

In [27]:
# Subsetting df where primary contributory cause is determined
df_driver = df_driver[df_driver.PRIM_CONTRIBUTORY_CAUSE != 'UNABLE TO DETERMINE']
df_driver.shape

(266893, 28)

In [28]:
df_driver.SEC_CONTRIBUTORY_CAUSE.value_counts()

NOT APPLICABLE                                                                      111293
UNABLE TO DETERMINE                                                                  57093
FAILING TO REDUCE SPEED TO AVOID CRASH                                               17918
FAILING TO YIELD RIGHT-OF-WAY                                                        12926
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  12567
FOLLOWING TOO CLOSELY                                                                11519
IMPROPER OVERTAKING/PASSING                                                           5835
IMPROPER LANE USAGE                                                                   5710
WEATHER                                                                               5192
IMPROPER TURNING/NO SIGNAL                                                            4342
IMPROPER BACKING                                                                      3523
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER      2494
DISREGARDING TRAFFIC SIGNALS                                                          1595
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                  1567
DISTRACTION - FROM INSIDE VEHICLE                                                     1541
PHYSICAL CONDITION OF DRIVER                                                          1308
DISREGARDING STOP SIGN                                                                1195
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   1128
EXCEEDING AUTHORIZED SPEED LIMIT                                                       960
EQUIPMENT - VEHICLE CONDITION                                                          944
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                     854
DISTRACTION - FROM OUTSIDE VEHICLE                                                     834
DRIVING ON WRONG SIDE/WRONG WAY                                                        745
ROAD CONSTRUCTION/MAINTENANCE                                                          526
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                               456
DISREGARDING ROAD MARKINGS                                                             419
DISREGARDING OTHER TRAFFIC SIGNS                                                       389
CELL PHONE USE OTHER THAN TEXTING                                                      376
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                        375
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                      256
ANIMAL                                                                                 158
RELATED TO BUS STOP                                                                    146
TURNING RIGHT ON RED                                                                   138
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            137
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                 127
DISREGARDING YIELD SIGN                                                                105
TEXTING                                                                                 87
PASSING STOPPED SCHOOL BUS                                                              48
OBSTRUCTED CROSSWALKS                                                                   38
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                               29
Name: SEC_CONTRIBUTORY_CAUSE, dtype: int64

In [29]:
# Subsetting df where Secondary contributory cause is determined and applicable
df_driver = df_driver[(df_driver.SEC_CONTRIBUTORY_CAUSE != 'UNABLE TO DETERMINE')]
df_driver = df_driver[(df_driver.SEC_CONTRIBUTORY_CAUSE != 'NOT APPLICABLE')]
df_driver.shape

(98507, 28)

# Modeling

In [30]:
df_driver.columns

Index(['POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
       'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
       'TRAFFICWAY_TYPE', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT',
       'DAMAGE', 'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE',
       'NUM_UNITS', 'INJURIES_FATAL', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK',
       'CRASH_MONTH', 'VEHICLE_DEFECT', 'VEHICLE_TYPE', 'MANEUVER',
       'FIRST_CONTACT_POINT', 'SEX', 'AGE', 'AIRBAG_DEPLOYED', 'EJECTION',
       'DRIVER_VISION', 'PHYSICAL_CONDITION'],
      dtype='object')

In [31]:
# Features to try
# features = ['AGE', 'CRASH_HOUR','CRASH_DAY_OF_WEEK', 'POSTED_SPEED_LIMIT','PRIM_CONTRIBUTORY_CAUSE',
#            'WEATHER_CONDITION','LIGHTING_CONDITION','TRAFFIC_CONTROL_DEVICE','DRIVER_VISION',
#            'PHYSICAL_CONDITION','ROADWAY_SURFACE_COND','VEHICLE_DEFECT','EJECTION','INJURIES_FATAL']
# test_df = df_driver[features]

In [32]:
# Decided Features to use
features = ['AGE', 'CRASH_HOUR','CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'POSTED_SPEED_LIMIT',
           'WEATHER_CONDITION','LIGHTING_CONDITION','TRAFFIC_CONTROL_DEVICE',
           'PHYSICAL_CONDITION','VEHICLE_DEFECT','INJURIES_FATAL']
test_df = df_driver[features]

## Train-Test Split

In [34]:
X = test_df.drop('INJURIES_FATAL',axis=1)
y = test_df.INJURIES_FATAL

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)
print(len(X_train), len(X_test), len(y_train), len(y_test))

73880 24627 73880 24627

## Decision Tree

#### Trying to use a pipeline

In [41]:
X_train.head()

,AGE,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,TRAFFIC_CONTROL_DEVICE,PHYSICAL_CONDITION,VEHICLE_DEFECT
360296,36.0,1,7,9,35,CLEAR,"DARKNESS, LIGHTED ROAD",NO CONTROLS,UNKNOWN,UNKNOWN
552661,36.0,12,4,8,30,CLEAR,DAYLIGHT,TRAFFIC SIGNAL,UNKNOWN,UNKNOWN
1828651,37.0,14,1,9,30,CLEAR,DAYLIGHT,OTHER,NORMAL,NONE
584842,17.0,19,6,3,30,CLEAR,"DARKNESS, LIGHTED ROAD",TRAFFIC SIGNAL,UNKNOWN,UNKNOWN
921245,37.0,19,4,8,30,CLEAR,DAYLIGHT,NO CONTROLS,UNKNOWN,UNKNOWN

In [42]:
subpipe_num = Pipeline(steps=[('ss', StandardScaler())])
subpipe_cat = Pipeline(steps=[('ohe', OneHotEncoder(sparse=False, handle_unknown='ignore'))])

In [43]:
CT = ColumnTransformer(transformers=[('subpipe_num', subpipe_num, [0, 1, 2,3,4]),
                                         ('subpipe_cat', subpipe_cat, [5,6,7,8,9])],
                           remainder='passthrough')

In [44]:
imb_pipe = ImPipeline(steps=[('ct', CT),
                             ('sm', SMOTE(sampling_strategy='auto',random_state=42)),
                            ('rfc', DecisionTreeClassifier(random_state=42))])

In [45]:
imb_pipe.fit(X_train,y_train)

Pipeline(steps=[('ct',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('subpipe_num',
                                                  Pipeline(steps=[('ss',
                                                                   StandardScaler())]),
                                                  [0, 1, 2, 3, 4]),
                                                 ('subpipe_cat',
                                                  Pipeline(steps=[('ohe',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  [5, 6, 7, 8, 9])])),
                ('sm', SMOTE(random_state=42)),
                ('rfc', DecisionTreeClassifier(random_state=42))])

In [46]:
imb_pipe.score(X_train, y_train)

0.999918787222523

In [47]:
imb_pipe.score(X_test, y_test)

0.9961424452836318

#### Not using pipeline

### One Hot Encoding

In [49]:
#Ohe-ing Train set
X_train_cat = X_train.select_dtypes('object')

ohe = OneHotEncoder(
    drop='first',
    sparse=False)

dums_train = ohe.fit_transform(X_train_cat)
dums_train_df = pd.DataFrame(dums_train,
                       columns=ohe.get_feature_names(),
                       index=X_train_cat.index)

nums_train_df = X_train.select_dtypes(['int64','float64'])

X_train_clean = pd.concat([nums_train_df, dums_train_df], axis=1)

In [50]:
#Ohe-ing Test set
X_test_cat = X_test.select_dtypes('object')

dums_test = ohe.transform(X_test_cat)
dums_test_df = pd.DataFrame(dums_test,
                       columns=ohe.get_feature_names(),
                       index=X_test_cat.index)

nums_test_df = X_test.select_dtypes(['int64','float64'])

X_test_clean = pd.concat([nums_test_df, dums_test_df], axis=1)

### Smote

In [51]:
# X_train_clean.columns
smote = SMOTE(sampling_strategy='auto',random_state=42)
X_train_resampled, y_train_resampled = smote.fit_sample(X_train_clean, y_train)

In [52]:
X_train_resampled.shape

(147572, 65)

In [54]:
y_train.value_counts()

0.0    73786
1.0       94
Name: INJURIES_FATAL, dtype: int64

In [53]:
y_train_resampled.value_counts()

1.0    73786
0.0    73786
Name: INJURIES_FATAL, dtype: int64

### Baseline (Vanilla) Decision Tree

In [55]:
baseline_tree = DecisionTreeClassifier(random_state=42)
baseline_tree.fit(X_train_resampled,y_train_resampled)
baseline_tree_train_cv = cross_val_score(baseline_tree, X_train_resampled, y_train_resampled).mean()
baseline_tree_test_cv = cross_val_score(baseline_tree, X_test_clean, y_test).mean()

print(f'DT baseline Train Cross Validation Score: {baseline_tree_train_cv}')
print(f'DT baseline Test Cross Validation Score: {baseline_tree_test_cv}')

DT baseline Train Cross Validation Score: 0.9979467731878373
DT baseline Test Cross Validation Score: 0.9966703392956878

In [56]:
# fig, ax = plt.subplots(figsize=(20,20))
# plot_tree(baseline_tree,ax=ax);

### Finding Best Decision Tree Model

In [57]:
tree = DecisionTreeClassifier(random_state=42)

In [58]:
tree_grid = {'max_leaf_nodes': list(range(2, 100)), 
             'min_samples_split': [2, 3, 4],
             'max_depth': [5, 6, 7, 8, 9],
            }

In [59]:
tree_grid_search = GridSearchCV(tree, tree_grid, cv=5)

In [ ]:
tree_grid_search.fit(X_train_resampled, y_train_resampled)

In [ ]:
tree_grid_search.best_params_

In [ ]:
tree_grid_search.best_score_

In [ ]:
tree_grid_search.best_estimator_.score(X_test_clean, y_test)

In [ ]:
tree_cv_df = pd.DataFrame(tree_grid_search.cv_results_)
tree_cv_df.head()

In [ ]:
best_tree = tree_grid_search.best_estimator_

In [ ]:
def plot_feature_importances(model):
    n_features = X_train_resampled.shape[1]
    plt.figure(figsize=(30,30))
    plt.barh(range(n_features), model.feature_importances_, align='center') 
    plt.yticks(np.arange(n_features), X_train_resampled.columns.values) 
    plt.xlabel('Feature importance')
    plt.ylabel('Feature')

In [ ]:
plot_feature_importances(best_tree)

# Random Forest

### Baseline (Vanilla) Random Forest

In [ ]:
baseline_forest = RandomForestClassifier(random_state=42)
baseline_forest.fit(X_train_resampled,y_train_resampled)
baseline_forest_train_cv = cross_val_score(baseline_forest, X_train_resampled, y_train_resampled).mean()
baseline_forest_test_cv = cross_val_score(baseline_forest, X_test_clean, y_test).mean()

print(f'DT baseline Train Cross Validation Score: {baseline_forest_train_cv}')
print(f'DT baseline Test Cross Validation Score: {baseline_forest_test_cv}')

### Finding Best Random Forest Model

In [ ]:
forest = RandomForestClassifier(random_state=42)

In [ ]:
# Number of trees in random forest
# n_estimators = [100,150,200]

# The number of features to consider when looking for the best split
max_features = ['sqrt', 'log2']

# function to measure the quality of a split
criteria = ['gini', 'entropy']

# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]

# Create the random grid
forrest_grid = {'max_features': max_features, 
                'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf
              }

In [ ]:
forrest_grid_search = GridSearchCV(estimator=forest, param_grid=forrest_grid, cv=5)

In [ ]:
forrest_grid_search.fit(X_train_resampled, y_train_resampled)

In [ ]:
forrest_grid_search.best_params_

In [ ]:
forrest_grid_search.best_score_

In [ ]:
forrest_grid_search.best_estimator_.score(X_test_clean, y_test)

In [ ]:
best_forest = forrest_grid_search.best_estimator_

In [ ]:
plot_feature_importances(best_forest)

In [ ]:
forest_cv_df = pd.DataFrame(forrest_grid_search.cv_results_)
forest_cv_df.head()

# K Nearest Neighbor

In [ ]:
# Splitting categorical and numeric features from train and test set
X_train_cat = X_train.select_dtypes('object')
X_test_cat = X_test.select_dtypes('object')
nums_train = X_train.select_dtypes(['int64','float64'])
nums_test = X_test.select_dtypes(['int64','float64'])

# One Hot Encoding the categoricals
ohe = OneHotEncoder(
    drop='first',
    sparse=False)

dums_train = ohe.fit_transform(X_train_cat)
dums_train_df = pd.DataFrame(dums_train,
                       columns=ohe.get_feature_names(),
                       index=X_train_cat.index)

dums_test = ohe.transform(X_test_cat)
dums_test_df = pd.DataFrame(dums_test,
                       columns=ohe.get_feature_names(),
                       index=X_test_cat.index)
# Scaling the Numerics
scaler = StandardScaler()

nums_train_scaled = scaler.fit_transform(nums_train)
nums_train_df = pd.DataFrame(nums_train_scaled,
                       columns=nums_train.columns,
                       index=nums_train.index)

nums_test_scaled = scaler.transform(nums_test)
nums_test_df = pd.DataFrame(nums_test_scaled,
                       columns=nums_test.columns,
                       index=nums_test.index)

# Scaled and Encoded train and test data
X_train_scaled = pd.concat([nums_train_df, dums_train_df], axis=1)
X_test_scaled = pd.concat([nums_test_df, dums_test_df], axis=1)

# SMOTE
smote = SMOTE(sampling_strategy='auto',random_state=42)
X_train_resampled, y_train_resampled = smote.fit_sample(X_train_scaled, y_train)

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
# create params_grid for KNeighborsClassifier  
knn_grid = {'n_neighbors': [3, 9, 11],
              'weights': ['uniform', 'distance'],
              'metric': ['euclidean', 'manhattan']}

# create grid search 
knn_grid = GridSearchCV(knn, knn_grid, cv=5)

In [ ]:
# fit x_train and y_train to grid 
knn_grid.fit(X_train_resampled,y_train_resampled)

In [ ]:
# observe combination of best params 
knn_grid.best_params_

In [ ]:
knn_cv_df = pd.DataFrame(knn_grid.cv_results_)
knn_cv_df.head()

In [ ]:
knn_grid.best_estimator_.score(X_test_scaled, y_test)

In [ ]:
test_preds = knn_grid.best_estimator_.predict(X_test_scaled)